body
{
    background-color:rgb(250, 218, 40)
}

h1
{
color:rgb(241, 86, 38);
background-color:rgb(236, 243, 138);
}

#show_sketch
{
    float:right;
}

canvas
{
    border:5px solid white;
    border-radius:20px;
    animation-name:example;
    animation-duration:2s;
    margin-top:50px;
animation-iteration-count: infinite;
}

@keyframes example 
{
from {box-shadow: 10px 5px 5px rgb(247, 31, 31)};
to {box-shadow: 10px 5px 5px rgb(255, 166, 0)};
}

p
{
padding-top:10px;
font-size:25px;
}